# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Secrets
/src/secrets/
src/secrets/*

# Logs and runtime files
*.log
*.pid
*.db
*.sqlite3
*.out

# macOS
.DS_Store

# Certificates
*.pem
*.key

# VSCode settings
.vscode/
.history/

# Local files
.idea/
*.swp
.pytest_cache/
.mypy_cache/

# SCSS build
src/static/css/

# Build artifacts
build/
dist/
*.egg-info/
