<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My FastAPI App{% endblock %}</title>
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">
    <link rel="shortcut icon" href="/static/favicon_io/favicon.ico" type="image/x-icon">
    
    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/main.css">
    </head>
<body>

  <main>
    {% block content %}
    <!-- Page-specific content goes here -->
    {% endblock %}
  </main>

  {% block scripts %}
  <!-- Page-specific scripts go here -->
  {% endblock %}

  <footer>
      <p>Contact: stuyseniorassassin@gmail.com<br />&copy; 2025 Senior Assassin</p>
  </footer>
</body>
</html>