{% extends "base.html" %}

{% block title %}Stuy Senior Assassin{% endblock %}

{% block content %}
  <div class="homepage-bg">
    <h2 class="nosifer-regular">Senior Assassin</h2>
    <div id="countdown" class="countdown">Loading countdown...</div>
    <!-- This button initiates the Firebase Google login -->
    <button id="login">Login</button>
  </div>
  
{% endblock %}

{% block scripts %}
  <script src="/static/js/login.js" type="module"></script>
  <script src="/static/js/countdown.js" type="module"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-076DG6NV1N"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-076DG6NV1N');
  </script>
{% endblock %}