{% extends "base.html" %}

{% block title %}Rules{% endblock %}

{% block content %}
<div class="homepage-bg">
		<div class="rules-section rules-section-add">
            <h3>Rules and Guidelines</h3>
			  <p>
    Please read the following rules and guidelines carefully. Failure to follow any of these rules will result in immediate disqualification.
  </p>
  <ol>
    <li>
      Signing up
      <ol type="a">
        <li>You MUST input your full and true schedule</li>
        <li>You MUST have a recent picture that can be used to identify yourself</li>
        <li>Please give a true estimation of your height for your assassin to identify you</li>
        <li>We will not allow late sign-ups</li>
      </ol>
    </li>
    <li>
      Target cannot be assassinated in class, staircases, or escalators
      <ol type="a">
        <li>Target can be assassinated outside of their PE class</li>
        <li>Target can be assassinated outside of school</li>
      </ol>
    </li>
    <li>
      Target can be assassinated by gently tapping a spoon on the target's shoulder
      <ol type="a">
        <li>You may use a plastic spoon from the cafeteria</li>
        <li>You may not use other utensils (forks, knives, etc)</li>
      </ol>
    </li>
    <li>
      Safety objects will protect you from being eliminated while they are visible
      <ol type="a">
        <li>Safety objects will vary per day; however, they must be visible (on the person), and may not be hidden or obscured from sight</li>
        <li>A new safety object will be posted on this website every day at 6am EST</li>
      </ol>
    </li>
    <li>You must send in video evidence that you have marked your target otherwise the kill will be invalidated</li>
  </ol>

  <p>
    Failure to comply: If a player fails to follow any of the rules and guidelines listed above, they will be <strong>immediately</strong> disqualified from playing Senior Assassin.
  </p>
		</div>
        </div>
        <div class="rules-footer-spacer" style="display:none;"></div>
{% endblock %}

{% block scripts %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-076DG6NV1N"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-076DG6NV1N');
  </script>
{% endblock %}