{% extends "base.html" %}

{% block title %}Winner!{% endblock %}

{% block content %}
  <div class="winner-bg">
    <h2 class="nosifer-regular">You Won!</h2>
    <h3>$50 Amazon Gift Card</h3>
    <div class="giftcard-code">
      <span>XXXX&nbsp;XXXX&nbsp;XXXX&nbsp;XXXX</span>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-076DG6NV1N"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-076DG6NV1N');
  </script>
{% endblock %}